.language-tag-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.language-tag {
  border: solid black 1px;
  border-radius: 4px;
  padding: 6px;
}

.project-img {
  box-shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.15);
}

.web-icon {
  height: 28px;
  width: auto;
}

button:hover .web-icon {
  filter: invert(100%);
}