img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.hello {
  position: relative;
  /* background-color: red; */
  height: 250px;
  width: 100%;
}

.intro-img-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -45%) rotate(5deg);
}

.intro-img-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.intro-img-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -45%) rotate(-5deg);
}