* {
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

button,
.white-btn:hover {
  width: 300px;
  height: 48px;
  border-radius: 12px;
  margin: 5px;
  border: none;
  color: white;
  background-color: black;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding: 8px 16px;
  cursor: pointer;
}


section {
  padding: 64px 50px;
}

.black-section {
  background-color: black;
  /* color: white; */
}


.white-btn,
button:hover {
  background-color: white;
  color: black;
  outline: solid black 2px;
}

.down-arrow {
  height: 28px;
  width: auto;
}

button:hover .down-arrow {
  filter: invert(100%);
}